<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">

            <form class="form-horizontal form-material" [formGroup]="forma" (ngSubmit)="guardarUsuario()" autocomplete="off">

                <a href="javascript:void(0)" class="text-center db"><img src="assets/images/logo-light-icon.png" alt="Home" /><br/><img src="assets/images/logo-light-text.png" alt="Home" /></a>
                <h3 class="box-title m-t-40 m-b-0">Registrarse Ahora</h3><small>Crea una cuenta para obtener la membresia!</small>

                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="nombre" name="nombre" placeholder="Nombre">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="correo" name="correo" placeholder="Correo">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" formControlName="pass" name="pass" placeholder="Contraseña">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" formControlName="pass2" name="pass2" placeholder="Confirmar Contraseña">
                    </div>
                </div>
                <!-- Errores -->
                <div class="form-group" *ngIf="forma.errors && !forma.pristine">
                    <div class="col-xs-12">
                        <span class="text-danger">La contraseña debe ser igual</span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary p-t-0">
                            <input id="checkbox-signup" type="checkbox" formControlName="termino" name="termino">
                            <label for="checkbox-signup"> Acpeto todos los <a href="#">Terminos</a></label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-danger btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit" [disabled]="!forma.valid">Registrarse</button>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>Ya tienes una cuenta? <a [routerLink]="['/login']" class="text-info m-l-5"><b>Ingresar</b></a></p>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->