<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body form-material">
                <input class="form-control" type="text" #input placeholder="Buscar Hospital" (keyup)="buscarHospital(input.value)">
            </div>
        </div>
    </div>
</div>

<!-- Spinner -->
<div class="row animated fadeIn" *ngIf="loading">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body text-center">
                <i class="fa fa-spinner fa-spin fa-2x"></i> <br>
                <span>Cargando...</span>
            </div>
        </div>
    </div>
</div>

<!-- Table -->
<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-left">Lista de Hospitales <span class="label label-info">{{ totalHosp }}</span>
                    <button (click)="crearHospital()" type="button" class="btn btn-success btn-sm btn-rounded float-right"> 
                        <i class="fa fa-plus-circle"></i> Crear Hospital
                    </button>
                </h4>

                <div class="card-body" *ngIf="hospitales.length <= 0">
                    <h3 class="card-title">Registros no encontados</h3>
                    <p *ngIf="terminoBuscado.length <= 0" class="card-text text-center">Aun no tiene ninigun Hospital creado.
                    </p>
                    <p *ngIf="terminoBuscado.length > 0" class="card-text text-center">La palabra
                        <span class="text-success font-bold"> {{ terminoBuscado }} 
                        </span> que corresponde a un elemento buscado, no se encontro en nuesta base de datos.
                    </p>
                </div>

                <div class="table-responsive" *ngIf="hospitales.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nombre</th>
                                <th>Creado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitales">
                                <td>
                                    <img (click)="openModal(hospital._id)" [src]="hospital.img | imagen:'hospital'" alt="hosp" width="40" class="img-circle pointer-mouse">
                                </td>
                                <td>
                                    <div class="">
                                        <input type="text" class="form-control" name="hospital" [(ngModel)]="hospital.nombre" placeholder="Nombre del Hospital">
                                    </div>
                                </td>
                                <td>
                                    {{ hospital.usuario.nombre }}
                                </td>
                                <td>
                                    <button (click)="actualizarHospital(hospital)" type="button" class="btn btn-primary mr-2">
                                        <i class="fa fa-save"></i>
                                    </button>
                                    <button (click)="eliminarHospital(hospital._id, hospital.nombre)" type="button" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="float-right">
                    <button (click)="nextPage(-10)" type="button" class="btn btn-primary mr-3"><i class="fa fa-angle-double-left"></i></button>
                    <button (click)="nextPage(10)" type="button" class="btn btn-primary"><i class="fa fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->