<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Barra de progreso</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValueNow]="progreso1"  [style.width]="progreso1 +'%'">{{progreso1}}%
                    </div>
                </div>

                <hr>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValueNow]="progreso2" [style.width]="progreso2 +'%'">{{progreso2}}%
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increment leyenda="Progress Blue" [progreso]="progreso1" (changeVal)="progreso1 = $event"></app-increment>
                  
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increment leyenda="Progress Green" [progreso]="progreso2" (changeVal)="progreso2 = $event"></app-increment>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->