<div class="modal-background animated" [ngClass]="hiddenModal">
    <div id="fotoModal" class="modal fade show show-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Foto Perfil</h4>
                    <button type="button" class="close" (click)="hiddenModal = 'hide-modal'" aria-hidden="true">×</button>
                </div>

                <div class="modal-body">
                    <div class="col-md-12 text-center">
                        <img class="img-fluid" width="300" *ngIf="!tempImage" [src]="'xxx' | imagen" />
                        <img class="img-fluid" width="300" *ngIf="tempImage" [src]="tempImage" />
                    </div>
                    <hr>
                    <!-- Input File -->
                    <div class="form-group form-material">
                        <!-- <label class="col-md-12">Seleccionar Imagen</label> -->
                        <div class="fileinput fileinput-new input-group col-md-12" data-provides="fileinput">
                            <div class="form-control" data-trigger="fileinput">
                                <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                <span class="fileinput-filename"></span>
                            </div>
                            <span class="btn btn-default btn-file"> 
                            <span class="fileinput-new">Seleccionar Archivo</span>
                            <span class="fileinput-exists">Cambiar</span>
                            <input (change)="selectImage($event.target.files[0])" type="file" name="...">
                            </span>
                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Quitar</a>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success waves-effect" (click)="uploadImage()" [disabled]="!tempImage">Actualizar</button>
                    <button type="button" class="btn btn-info waves-effect" (click)="hiddenModal = 'hide-modal fadeOut'">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</div>