/* You can add global styles to this file, and also import other style files */

.swal-button-container {
    margin: 0px auto;
    display: table;
    position: relative;
}

.swal-text {
    text-align: center;
}

.pointer-mouse {
    cursor: pointer;
}