/* You can add global styles to this file, and also import other style files */


/* Swal Alert Configuracion */

.swal-button-container {
    margin: 0px auto;
    /* display: grid; */
    display: inline-table;
    position: relative;
}

.swal-text {
    text-align: center;
}

.swal-button--cancel {
    /* margin-bottom: 15px; */
    margin-right: 15px;
}


/* Mouse Pointer */

.pointer-mouse {
    cursor: pointer;
}


/* Card profile configuracion */

.card-title {
    text-align: center;
}

.card-subtitle {
    text-align: center;
}

.img-profile-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}


/* Modal Configuracion */

.hide-modal {
    display: none;
}

.show-modal {
    display: block;
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 5000;
}

.center-image {
    margin-left: auto;
    margin-right: auto;
}