/* You can add global styles to this file, and also import other style files */

.swal-button-container {
    margin: 0px auto;
    /* display: grid; */
    display: inline-table;
    position: relative;
}

.swal-text {
    text-align: center;
}

.swal-button--cancel {
    /* margin-bottom: 15px; */
    margin-right: 15px;
}

.pointer-mouse {
    cursor: pointer;
}

.card-title {
    text-align: center;
}

.card-subtitle {
    text-align: center;
}

.img-profile-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}