<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                Dashboard Works!
            </div>
            <div class="card-body" *ngIf="message">
                Mensaje por {{message.nombre}}:  {{ message.mensaje }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4>Lista de Usuarios</h4>

                <div class="table-responsive" *ngIf="usuarios.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Role</th>
                                <th>Auth</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td> {{ usuario.nombre }} </td>
                                <td> {{ usuario.email }} </td>
                                <td>
                                    <select [(ngModel)]="usuario.role" class="form-control" name="role">
                                        <option value="ADMIN_ROLE">ADMIN_ROLE</option>
                                        <option value="USER_ROLE">USER_ROLE</option>
                                    </select>
                                </td>
                                <td>
                                    <span *ngIf="usuario.google" class="label label-info">Google</span>
                                    <span *ngIf="!usuario.google" class="label label-success">Weblog</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->